.hidden {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  font-family: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-list,
.contacts {
  display: none;
}

.header-logo-web,
.footer-logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-web {
  display: block;
  padding: 16px 0;
}

.header-logo-web .header-logo-studio {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .navigation-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo-web {
    padding: 24px 0;
    margin-right: 120px;
  }

  .contacts {
    display: block;
    font-style: normal;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-list-link:hover,
  .contacts-list-link:focus,
  .nav-link.current {
    color: #404bbf;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-list-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .header-logo-web {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-list-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

/* mobile-menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  width: 24px;
  height: 24px;
}

.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
  display: flex;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 0;
  gap: 40px;
}

.menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.link-studio {
  color: #404bbf;
}

.menu-contacts-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.menu-contacts-list-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
  font-style: normal;
}

.mail {
  color: #434455;
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-list.menu-social-list {
  gap: 40px;
  justify-content: flex-start;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-fill {
  fill: #f4f4fd;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .mobile-menu {
    display: none;
  }
}

/* hero-section */

.footer-section,
.page-main-section {
  background-color: #2e2f42;
}
.page-main-section {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.page-main-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  margin: 0 auto;
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .page-main-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .page-main-section {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .page-main-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab@2x.jpg);
    }
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .page-main-section {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-des.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .page-main-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-des@2x.jpg);
    }
  }

  .main-title {
    margin-bottom: 48px;
  }

  .page-main-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .page-main-button:hover,
  .page-main-button:focus {
    background-color: #404bbf;
  }
}

/* benefits-section */

.benefits-icon-frame {
  display: none;
}

.benefits-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.benefits-list-item {
  width: 100%;
}

.third-level-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.benefits-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-text,
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }

  .third-level-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .benefits-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .benefits-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .benefits-text {
    font-weight: 400;
  }

  .benefits-list-item {
    width: calc((100% - 24px) / 3);
  }

  .benefits-icon-frame {
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .third-level-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

/* our-team-section */

.our-team-section {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f4f4fd;
}

.title-second-level {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.our-team-item {
  border-radius: 0 0 4px 4px;
  flex-basis: calc((100% - 24px) / 3);
  text-align: center;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item,
.our-team-item {
  background-color: #fff;
}

.our-team-item-container {
  padding: 32px 0;
}

.our-team-item-container .third-level-title {
  margin-bottom: 8px;
  text-align: center;
}

.team-text {
  text-align: center;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-fill {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .container-team-plus-footer {
    padding-left: 108px;
    padding-right: 108px;
  }

  .our-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }

  .our-team-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .container-team-plus-footer {
    padding-left: 15px;
    padding-right: 15px;
  }

  .our-team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .our-team-list {
    flex-wrap: no-wrap;
    flex-direction: row;
    gap: 24px;
  }

  .our-team-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .social-list-link:hover,
  .social-list-link:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* portfolio-section */

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio .title-second-level {
  margin-bottom: 72px;
}

.portfolio-text-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio .third-level-title {
  margin-bottom: 8px;
}

.portfolio-item {
  width: 100%;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.names {
  text-align: start;
}

.portfolio-text {
  text-align: start;
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-list:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  .portfolio-item {
    box-shadow: none;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

/* footer */

.footer-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  gap: 72px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-logo-web {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.footer-logo-web .footer-logo-studio {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
}

.social-media-text {
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social {
  display: flex;
  gap: 16px;
}

.footer-social-fill {
  fill: #f4f4fd;
}

.footer-form-container {
  margin-left: 0 auto;
}

.form-text {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  padding-left: 16px;
  letter-spacing: 0.04em;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-btn {
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: auto;
  margin-top: 16px;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-btn {
  margin-left: 16px;
}

.form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .footer-container {
    justify-content: flex-start;
    align-items: baseline;
    padding-left: 108px;
    padding-right: 108px;
    column-gap: 24px;
    row-gap: 72px;
  }

  .footer-logo-web {
    justify-content: flex-start;
  }
  .footer-text {
    max-width: 264px;
  }
  .social-media-text {
    justify-content: flex-start;
  }

  .form-text {
    justify-content: flex-start;
  }

  .form-input {
    width: 264px;
  }

  .footer-form {
    display: inline-flex;
  }

  .footer-btn {
    margin-top: 0px;
    margin-left: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-logo-paragraf {
    margin-right: 120px;
  }

  .footer-form-container {
    margin-left: auto;
  }

  .footer-form {
    display: flex;
  }

  .social-footer:hover,
  .social-footer:focus {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-input:focus,
  .form-input:hover {
    outline: none;
    border: 1px solid #31d0aa;
  }

  .footer-btn:focus,
  .footer-btn:hover {
    background-color: #31d0aa;
  }
}

/* modal */

.backdrop {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibilyty 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;
  padding: 72px 16px 16px 16px;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.btn-close-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  fill: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close-modal:hover,
.btn-close-modal:focus {
  background-color: #404bbf;
  border: none;
}
.btn-close-modal:hover .close-icon,
.btn-close-modal:focus .close-icon {
  fill: #ffffff;
}
.modal-name {
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.form-modal {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  max-width: 360px;
}

.div-in-form {
  margin-bottom: 8px;
}

.label-modal {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.form-input-modal {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 8px 38px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-svg {
  position: relative;
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-modal:focus-within {
  border-color: #4d5ae5;
}

.form-textarea-modal:focus-within {
  border-color: #4d5ae5;
}

.form-input-modal:focus-within + .icon-modal {
  fill: #4d5ae5;
}

.div-textarea {
  margin-bottom: 16px;
}

.form-textarea-modal {
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea-modal::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.privacy-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 24px;
}

.privacy-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  padding-left: 8px;
}

.link-privacy {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.castom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  margin-right: 7.5px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-input:checked + .label-checkbox > .castom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
